<div class="modal-header">
    <h4 class="modal-title">Crop your image</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div ng-if="dataUrl" class="img-container">
            <img ng-if="dataUrl" ng-src="{{dataUrl}}" width="800"
                 ng-cropper
                 ng-cropper-proxy="cropperProxy"
                 ng-cropper-show="showEvent"
                 ng-cropper-hide="hideEvent"
                 ng-cropper-options="options">
        </div>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-white" data-ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" data-ng-click="cropImage();" data-ng-disabled="loading">Ok <i data-ng-if="loading" class="fa fa-spinner fa-spin"></i></button>
    </div>
</div>