<div class="bg-white hbox h-auto wrapper b-b b-a">
    <div class="col text-nowrap">
        <button class="btn btn-rounded btn-icon bg-white" ng-click="getPrevEventDate(date)"><i
                class="fa fa-angle-left fa-lg"></i></button>
        <input type="button" class="b-a btn bg-light lter" datepicker-popup="{{format}}" show-button-bar="false"
               ng-click="open($event)" ng-model="date" is-open="opened" datepicker-options="dateOptions"
               ng-required="true" close-text="Close" ng-change="getEvents(date)" style="width: 220px;"/>
        <button class="btn btn-rounded btn-icon bg-white" ng-click="getNextEventDate(date)"><i
                class="fa fa-angle-right fa-lg"></i></button>
    </div>
    <div class="col text-right v-middle">
        <div class="btn no-padder m-l" ng-click="chooseEvent()">
            <img src="/assets/img/calendar.png" style="width: 30px;">
        </div>
    </div>
</div>
<div class="nav-tabs-alt bg-white-only">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a data-target="#tab-1" role="tab" data-toggle="tab">
                Tables
            </a>
        </li>
        <li>
            <a data-target="#tab-2" role="tab" data-toggle="tab">
                Stand-Up
            </a>
        </li>
        <li>
            <a data-target="#tab-3" role="tab" data-toggle="tab">
                Bar
            </a>
        </li>
    </ul>
</div>
<div ng-if="!spinner" class="text-center wrapper">
    <i class="fa fa-spinner fa-2x fa-spin padder"></i>
</div>
<div ng-if="events.length === 0 && spinner" class="wrapper-lg text-center">
    <span class="text-2x text-danger">Venue is closed</span><br>
    No events on this date.
</div>
<div class="tab-content" ng-if="currentEvent.id && spinner && events.length > 0">
    <div role="tabpanel" class="tab-pane active" id="tab-1">
        <div ng-repeat="table in tables | filter: {tableInfo: {bottleServiceType: 'TABLE'}}"
             class="hbox h-auto wrapper-xs">
            <div class="m-l-xs m-t-xs bottle-service-flag">
                {{bottleService[table.tableInfo.bottleServiceType]}}{{table.tableInfo.placeNumber}}
            </div>
            <div class="hbox h-auto">
                <div ng-repeat="reservation in table.reservations"
                     ng-include="'/assets/main/modules/menu/eod/res.item.html'"
                     class="col-xs-12 col-sm-6 col-lg-4 reservation"></div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane tab-2" id="tab-2">
        <div ng-repeat="table in tables | filter: {tableInfo: {bottleServiceType: 'STANDUP'}}"
             class="hbox h-auto wrapper-xs">
            <div class="m-l-xs m-t-xs bottle-service-flag">
                {{bottleService[table.tableInfo.bottleServiceType]}}{{table.tableInfo.placeNumber}}
            </div>
            <div class="hbox h-auto">
                <div ng-repeat="reservation in table.reservations"
                     ng-include="'/assets/main/modules/menu/eod/res.item.html'"
                     class="col-xs-12 col-sm-6 col-lg-4 reservation"></div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane tab-3" id="tab-3">
        <div ng-repeat="table in tables | filter: {tableInfo: {bottleServiceType: 'BAR'}}"
             class="hbox h-auto wrapper-xs">
            <div class="m-l-xs m-t-xs bottle-service-flag">
                {{bottleService[table.tableInfo.bottleServiceType]}}{{table.tableInfo.placeNumber}}
            </div>
            <div class="hbox h-auto">
                <div ng-repeat="reservation in table.reservations"
                     ng-include="'/assets/main/modules/menu/eod/res.item.html'"
                     class="col-xs-12 col-sm-6 col-lg-4 reservation"></div>
            </div>
        </div>
    </div>
</div>