<div class="modal-header bg-white-only" style="border-radius: 6px 6px 0 0;">
    <h4 class="modal-title">Choose new date</h4>
</div>
<div class="modal-body wrapper-xs hbox bg-light w-auto" style="margin: auto;">
    <datepicker ng-model="moveDate" show-weeks="false" starting-day="1"></datepicker>
</div>
<div class="modal-footer bg-white-only" style="border-radius: 0 0 6px 6px;">
    <div class="btn b-a pull-left" ng-click="cancel()">Close</div>
    <div class="btn btn-info pull-right" ng-click="moveReservation()">Move</div>
</div>