<div data-ng-if="guestList === undefined || guestList.length == 0" class="text-center">No reservations for the day</div>
<div data-ng-if="guestList !== undefined && guestList.length > 0">
    <div data-ng-repeat="reservation in guestList | filter: { guestInfo: { fullName : searchedText }}" style="overflow: hidden;" class="animated fadeIn wrapper-xs">
        <div class="clearfix wrapper b-a r bg-white-only" ng-cloak>
            <div class="col-sm-10 no-padder" data-ng-click="reservationEditing(reservation, permissions.canViewAndModifyAllGuestListResos);"
                 ng-class="{'cursorPointer' : (permissions.canViewAndModifyAllGuestListResos || permissions.canViewAndModifyAllReservations)}">
                <div class="hbox">
                    <div class="user-image r-2x" style="display: table-cell;">
                        <img data-ng-if="reservation.guestInfo.userpic" ng-src="{{reservation.guestInfo.userpic ? reservation.guestInfo.userpic : '/assets/img/default_pic.png'}}" style="height: 42px;"/>
                        <img data-ng-if="!reservation.guestInfo.userpic" style="height: 40px;" class="m-n" src="/assets/img/default_pic.png"/>
                        <img src="/assets/img/must_enter.png" class="must-enter-reservation" data-ng-if="reservation.mustEnter">
                    </div>
                    <div class="col padder text-left">
                        <div class="font-bold text-ellipsis">{{reservation.guestInfo.fullName}}</div>
                        <div class="text-muted text-ellipsis text-xs">by {{reservation.bookedBy.fullName}}</div>
                    </div>
                </div>
                <div class="m-t-sm">
                    <div class="text-xs m-t-sm m-b-xs" style="min-height: 3em;">
                        {{reservation.bookingNote}}
                    </div>
                    <div class="text-muted m-b-xs">
                        <span data-ng-repeat="tag in reservation.tags" class="m-r-xs">
                            #{{tag}}
                        </span>
                    </div>
                </div>
                <div class="hbox" ng-include="'/assets/main/modules/menu/reservations/templates/types.html'"></div>
            </div>
            <div class="col-sm-2 no-padder text-center">
                <div class="thumb-lg">
                    <div class="item-overlay bg-white-opacity text-center" style="padding-top: 35px;" ng-class="{'active': guestSpinner && thisId === reservation.id}">
                        <i class="fa fa-spinner fa-spin padder-v" style="font-size: 30px;"></i>
                    </div>
                    <div class="text-center feedbackColor m-b-xs">Guest ONLY</div>
                    <div class="hbox" ng-if="permissions.canArriveReservationsAndUseClicker || permissions.canWorkWithClicker">
                        <div class="col">
                            <div class="btn btn-rounded lter no-padder no-border" data-ng-click="clickerGuests(reservation, 'FEMALE', 'DEC')">
                                <img class="w-full" ng-src="/assets/img/clicker/womenMinus.png">
                            </div>
                        </div>
                        <div class="text-xs text-center" style="color: #CC52BD;margin-top: 8px;">{{reservation.arrivedGirls}}</div>
                        <div class="col">
                            <div class="btn btn-rounded lter no-padder no-border" data-ng-click="clickerGuests(reservation, 'FEMALE', 'INC')">
                                <img class="w-full" ng-src="/assets/img/clicker/womenPlus.png">
                            </div>
                        </div>
                    </div>
                    <div class="hbox font-bold text-center text-black">
                        <span>{{reservation.arrivedGirls + reservation.arrivedGuys}} / {{reservation.totalGuests}}</span>
                    </div>
                    <div class="hbox" ng-if="permissions.canArriveReservationsAndUseClicker || permissions.canWorkWithClicker">
                        <div class="col">
                            <div class="btn btn-rounded bg-dark dker no-padder no-border" data-ng-click="clickerGuests(reservation, 'MALE', 'DEC')">
                                <img class="w-full" ng-src="/assets/img/clicker/menMinus.png">
                            </div>
                        </div>
                        <div class="text-xs text-center" style="color: #5897E3; margin-top: 8px;">{{reservation.arrivedGuys}}</div>
                        <div class="col">
                            <div class="btn btn-rounded bg-dark dker no-padder no-border" data-ng-click="clickerGuests(reservation, 'MALE', 'INC')">
                                <img class="w-full" ng-src="/assets/img/clicker/menPlus.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-if="guestListDeleted !== undefined && guestListDeleted.length > 0">
    <span>Deleted Reservations</span>
    <div data-ng-repeat="reservation in guestListDeleted | filter: { guestInfo: { fullName : searchedText }}" style="overflow: hidden;" class="animated fadeIn wrapper-xs">
        <div class="clearfix wrapper b-a r bg-white-only" ng-cloak>
            <div class="col-sm-11 no-padder" data-ng-click="reservationEditing(reservation, permissions.canViewAndModifyAllGuestListResos);"
                 ng-class="{'cursorPointer' : (permissions.canViewAndModifyAllGuestListResos || permissions.canViewAndModifyAllReservations)}">
                <div class="hbox">
                    <div class="user-image r-2x" style="display: table-cell;">
                        <img data-ng-if="reservation.guestInfo.userpic" ng-src="{{reservation.guestInfo.userpic ? reservation.guestInfo.userpic : '/assets/img/default_pic.png'}}" style="height: 42px;"/>
                        <img data-ng-if="!reservation.guestInfo.userpic" style="height: 40px;" class="m-n" src="/assets/img/default_pic.png"/>
                        <img src="/assets/img/must_enter.png" class="must-enter-reservation" data-ng-if="reservation.mustEnter">
                    </div>
                    <div class="col padder text-left">
                        <div class="font-bold text-ellipsis">{{reservation.guestInfo.fullName}}</div>
                        <div class="text-muted text-ellipsis text-xs">by {{reservation.bookedBy.fullName}}</div>
                    </div>
                </div>
                <div class="m-t-sm">
                    <div class="text-xs m-t-sm m-b-xs" style="min-height: 2em;">
                        {{reservation.bookingNote}}
                    </div>
                </div>
                <div class="hbox" ng-include="'/assets/main/modules/menu/reservations/templates/types.html'"></div>
            </div>
            <div class="col-sm-1 no-padder">
                <div class="text-center"><img src="/assets/img/reservation_submit.png" class="thumb cursorPointer" data-ng-click="activateReservation(reservation.id);"></div>
            </div>
        </div>
    </div>
</div>